{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,

  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,

  "trailingComma": "es5",
  "arrowParens": "always",

  "jsxSingleQuote": true,

  "importOrder": [
    "^react$",
    "^next",
    "^@?\\w",
    "^@/entities/(.*)$",
    "^@/features/(.*)$",
    "^@/shared/(.*)$",
    "^@/shared-ui/(.*)$",
    "^@/components/(.*)$",
    "^@/widgets/(.*)$",
    "^@/views/(.*)$",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^[./](?!.*\\.(css|scss)$)",
    "^@/styles/.*\\.css$|^[./].*\\.(css|scss)$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "always"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    }
  ]
}
