@use "@/shared/styles/variables" as *;

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;

  &:has([class*="minWrap"]) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
