@use "@/shared/styles/variables.scss" as *;

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: $font-md;
  color: var(--text-secondary);
}
